  <% @nugget = @nugget.decorate %>
<main class="max-w-4xl px-4 pt-10 pb-12 mx-auto space-y-6 lg:pb-16" id="nugget">
  <div class="px-4 py-4 sm:flex sm:items-center sm:justify-between sm:px-6 lg:px-8" id="milestone-detail">
    <%= render partial: "shared/nuggets/title", locals: { nugget: @nugget } %>
    <div class="flex mt-4 sm:mt-0 sm:ml-4">
      <% if policy([@nugget]).edit? %>
          <%= link_to "Edit", edit_nugget_path(@nugget), class: "btn-blue" %>
        <%= link_to "Delete", nugget_path(@nugget), method: :delete, class: "btn-red", data: { confirm: "Are you sure?" } %>
      <% end %>
    </div>
  </div>
  <div class="mt-1 text-sm text-gray-900 sm:px-6 lg:px-8">
    <p><%= @nugget.body %></p>
  </div>
  <% if policy([@nugget]).publish? %>
    <% if @nugget.published? %>
      <div class="p-4 rounded-md bg-green-50">
        <div class="flex">
          <div class="flex-shrink-0">
            <svg class="w-5 h-5 text-green-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
            </svg>
          </div>
          <div class="flex-1 ml-3 md:flex md:justify-between">
            <p class="text-sm font-medium text-green-800">
              This nugget is published and employees can see it. 
            </p>
            <p class="mt-3 text-sm md:mt-0 md:ml-6">
              <button type="button" id="publish-button"  data-reflex="click->Nugget#unpublish" data-nugget-id="<%= @nugget.id %>" class="font-medium text-green-700 whitespace-nowrap hover:text-green-600">Unpublish</button>
            </p>
          </div>
        </div>
      </div>
    <% else %>
      <div class="p-4 rounded-md bg-blue-50">
        <div class="flex">
          <div class="flex-shrink-0">
            <svg class="w-5 h-5 text-blue-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd" />
            </svg>
          </div>
          <div class="flex-1 ml-3 md:flex md:justify-between">
            <p class="text-sm text-blue-700">
              This Nugget has not been published and employee can not see it. 
            </p>
            <p class="mt-3 text-sm md:mt-0 md:ml-6">
              <button type="button" id="publish-button" data-reflex="click->Nugget#publish" data-nugget-id="<%= @nugget.id %>" class="font-medium text-blue-700 cursor-pointer whitespace-nowrap hover:text-blue-600">Publish</button>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</main>
