  <%= tailwind_form_with(model: question_category, id: dom_id(question_category), url: account_question_categories_path) do |form| %>
  <div class="space-y-6">
    <%= render "shared/form_messages", resource: question_category, message: local_assigns[:message] %>
    <%= render "shared/form_header", title: "Survey Question Categories", subtitle: "Please fill in your survey question categories. This will be available for all your workforce." %>
    <%= form.text_field :name, "Add New Category", autocomplete: "off" %>
    <div class="flex justify-end">
      <%= form.submit "Save", class: "btn-blue" %>
    </div>
  </div>
<% end %>
