<% schedule = schedule.decorate %>
<%= turbo_frame_tag dom_id(schedule) do %>
  <li class="border-b border-gray-200">
    <div class="flex items-center px-2 py-2 sm:px-6">
      <div class="flex items-center flex-1 min-w-0">
        <div class="flex-1 min-w-0 md:grid md:grid-cols-4 md:gap-4">
          <% if current_user.admin? %>
            <a href="<%= project_schedules_path(schedule.project) %>" class="block hover:underline" target="_top">
              <div class="flex">
                <div class="whitespace-nowrap">
                  <p class="text-sm font-medium text-gray-900 truncate"><%= schedule.project.name %></p>
                </div>
              </div>
            </a>
          <% else %>
            <div>
              <p class="text-sm font-medium text-gray-900 truncate"><%= schedule.project.name %></p>
            </div>
          <% end %>
          <div class="flex">
            <div class="whitespace-nowrap">
              <div class="text-sm text-gray-900"><%= schedule.display_occupancy %></div>
              <div class="text-sm text-gray-500"><%= schedule.display_occupied_till %></div>
            </div>
          </div>
          <% if current_user.admin? %>
            <div class="flex">
              <% if schedule.billable? %>
                <p class="flex items-center text-sm text-gray-500">
                  <svg class="flex-shrink-0 mr-1.5 h-4 w-4 text-green-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                  </svg>
                  Billable Schedule  
                </p>
              <% else %>
                <p class="flex items-center text-sm text-gray-500">
                  <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-red-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
                  </svg>
                  Non-Billable Schedule    
                </p>
              <% end %>
            </div>
          <% end %>
          <% if policy([@employee, schedule]).update? %>
            <div class="flex">
              <div class="whitespace-nowrap">
                <div class="text-sm text-gray-900"><%= link_to "Edit", edit_employee_schedule_path(@employee, schedule), class: "btn-inline-edit" %></div>
                <div class="text-sm text-gray-900"><%= link_to "Delete", employee_schedule_path(@employee, schedule), method: :delete, class: "btn-inline-delete", data: { confirm: "Are you sure?" } %></div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </li>
<% end %>
