<main class="max-w-lg px-4 pb-12 mx-auto space-y-6 lg:pb-16">
  <%= tailwind_form_with(model: kb, id: dom_id(kb)) do |form| %>
    <main class="w-full px-4 pt-10 pb-12 mx-auto space-y-6 lg:pb-16">
      <%= render "shared/form_messages", resource: kb, message: local_assigns[:message] %>
      <%= render "shared/form_header", title: title, subtitle: "A knowledge Base can be 'How to' guide, 'training' guide or another useful document needed by people to do their job" %>
      <%= form.text_field :document, "Document", autocomplete: "off" %>
      <%= form.text_field :link, "Link", autocomplete: "off" %>
      <%= form.text_area :comments, "Comments (optional)" %>
      <div>
        <label for="discipline" class="block mt-4 text-sm font-medium text-gray-700">People with following Discipline can see this document</label>
        <select name="kb[discipline_id]" class="form-text-field mt-1">
          <% if kb.discipline_id.nil? %>
            <option value="" selected="selected">Anyone can see</option>
          <% else %>
            <option value="">Anyone can see</option>
          <% end %>
          <% Discipline.order(:name).each do |discipline| %>
            <% if kb.discipline_id == discipline.id %>
              <option selected= "selected" value="<%= discipline.id %>"><%= discipline.name %></option>
            <% else %>
              <option value="<%= discipline.id %>"><%= discipline.name %></option>
            <% end %>
          <% end %>
        </select>
      </div>
      <div>
        <label for="job" class="block mt-4 text-sm font-medium text-gray-700">People with following Job can see this document</label>
        <select name="kb[job_id]" class="form-text-field mt-1">
          <% if kb.job.nil? %>
            <option value="" selected="selected">Anyone can see</option>
          <% else %>
            <option value="">Anyone can see</option>
          <% end %>
          <% Job.order(:name).each do |job| %>
            <% if kb.job_id == job.id %>
              <option selected= "selected" value="<%= job.id %>"><%= job.name %></option>
            <% else %>
              <option value="<%= job.id %>"><%= job.name %></option>
            <% end %>
          <% end %>
        </select>
      </div>
      <div class="flex justify-end mt-6">
        <%= link_to "Back", "javascript:history.back()", class: "btn-normal" %>
        <%= form.submit "Save Document ", class: "btn-blue" %>
      </div>
    </main>
  <% end %>
</main>
