<div class="px-4 py-4 sm:flex sm:items-center sm:justify-between sm:px-6 lg:px-8" id="survey-header">
  <div class="items-baseline  -ml-2">
    <h1 class="text-3xl font-bold leading-tight text-gray-900">
      <%= survey.name.upcase_first %>
    </h1>
    <p class="mt-1 text-sm font-medium text-gray-500 max-w-5xl"><%= survey.description.upcase_first %></p>
    <p class="mt-1 text-sm text-gray-500"> This is a <%= @survey.decorate.display_survey_type %> survey which is intended for <%= @survey.decorate.display_survey_for %>.</p>
  </div>
  <div class="flex mt-4 sm:mt-0 sm:ml-4">
    <div class="mr-4">
      <%= link_to "Attempt", new_survey_attempt_path(@survey), class: " btn-normal" %>
    </div>
    <div id="employee-status" class="flex">
      <%= link_to "Clone", clone_survey_path(@survey), class: " inline-block mr-4  text-left mr-4 btn-normal", data: { confirm: "Are you sure? This will create a new survey by copying everything from this survey?" } %>
    </div>
    <div>
      <%= link_to "Edit", edit_survey_path(@survey), class: " btn-normal" %>
    </div>
    <div>
      <%= link_to "Delete", survey_path(@survey), data: {
                                                                     "turbo-method": :delete,
                                                                   }, class: " ml-4 btn-red"%>
    </div>
  </div>
</div>
<%= render "survey/tabs" %>
