      <!-- Main 3 column grid -->
<div class="grid items-start grid-cols-1 gap-2 lg:grid-cols-3 lg:gap-2">
  <!-- Left column -->
  <div class="grid grid-cols-1 gap-4 lg:col-span-2">
    <section aria-labelledby="participants_section">
      <div class="overflow-hidden bg-white">
        <div class="p-4">
          <div class="flex flex-wrap">
            <p class="pb-2 mt-1 text-sm font-medium text-gray-900 truncate"><%= "Employee Skills" %></p>
          </div>
          <div id="employee-skills" class="flex ml-4 flex-wrap ">
            <%= render partial: "skills", locals: { skills: skills, employee: employee, user: user }, cached: true %>
          </div>
        </div>
      </div>
    </section>
  </div>
  <% if policy([employee, Skill]).create? %>
    <!-- Right column -->
    <div class="grid grid-cols-1 gap-4 xl:border-l xl:border-gray-200">
      <section aria-labelledby="add-participant-section">
        <h2 class="sr-only" id="section-2-title">Add New Skill</h2>
        <div class="bg-white">
          <div class="px-4">
            <main class="max-w-lg px-4 pt-6  mx-auto space-y-2 lg:pb-2 z-10">
              <%= render "shared/form_header", title: "Add New Skill", subtitle: "" %>
              <div class="flex justify-center w-full max-w-sm lg:justify-end"  data-behavior="autocomplete" data-controller="nav-search" data-nav-search-url-value="/search/employee/skills?id=<%= employee.id %>">
                <div class="w-full max-w-sm lg:max-w-sm">
                  <label for="skill" class="block text-sm font-medium text-gray-700">Search to add new skill</label>
                  <div class="mt-1">
                    <input type="search" name="search" id="search-skills" class="form-text-field" data-nav-search-target="input">
                  </div>
                  <div class="relative">
                    <div class="absolute left-0 z-10 block w-full mt-2 origin-top-right bg-white rounded-md shadow-lg ring-0 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
                      <ul data-nav-search-target="results">
                      </ul>
                    </div>
                  </div>
                  <div class="relative" >
                    <div class="absolute left-0 z-10 block w-full mt-2 origin-top-right bg-white rounded-md shadow-lg ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
                      <ul data-nav-search-target="results">
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </main>
            <div class="px-4" id="show-skills">
              <a href="<%= "/#{employee.account.id}/employees/#{employee.id}/show_skills" %>" class="btn-inline-edit hover:underline ">
                <p class= "text-right mr-2 "> or show all skills</p>
              </a>
            </div>
          </div>
        </div>
      </section>
    </div>
  <% end %>
