<li id="<%= dom_id(skill) %>" class="relative" data-reflex="click->EmployeeSkills#select"  data-skill-id=<%= skill.id %> data-employee-id=<%= employee.id %> >
  <div class="group block w-full aspect-w-7 aspect-h-7 rounded-lg  ">
    <label class="block text-sm font-medium pb-1 text-gray-700 min-w-sm" >
      <%= check_box_tag skill.id, skill.id, selected, :name => "ids[]", class: "mr-2 w-4 h-4 text-indigo-600 border-gray-300 rounded focus:ring-indigo-500 cursor-pointer" %>
      <%= skill.name.upcase_first %>
    </label>
  </div>
</li>
