<div class="flex items-center justify-center sm:items-stretch sm:justify-start">
  <div class="flex items-center flex-shrink-0">
    <img class="block w-auto h-8 lg:hidden" src="https://tailwindui.com/img/logos/workflow-mark-indigo-500.svg" alt="Workflow">
    <img class="hidden w-auto h-8 lg:block" src="https://tailwindui.com/img/logos/workflow-logo-indigo-500-mark-white-text.svg" alt="Workflow">
  </div>
  <div class="hidden sm:block sm:ml-6">
    <div class="flex space-x-2">
      <% if policy(:home).index? %>
        <a href=<%= home_path %> class= <%= current_page?(home_path) ? "nav-selected" : "nav-unselected" %>>Dashboard</a>
      <% end %>
      <% if policy(:team).index? %>
        <a href=<%= employees_path %> class= "<%= current_page?(employees_path) ? "nav-selected" : "nav-unselected" %>">Team</a>
      <% end %>
      <% if policy(:projects).index? %>
        <a href=<%= projects_path %> class= "<%= current_page?(projects_path) ? "nav-selected" : "nav-unselected" %>">Projects</a>
      <% end %>
      <% if policy(:schedules).index? %>
        <a href=<%= schedules_path %> class= "<%= current_page?(schedules_path) ? "nav-selected" : "nav-unselected" %>">Schedules</a>
      <% end %>
      <% if policy(:reports).index? %>
        <a href=<%= reports_path %> class= "<%= current_page?(reports_path) ? "nav-selected" : "nav-unselected" %>">Reports</a>
      <% end %>
      <%= render "shared/navbar/dropdown" %>
    </div>
  </div>
</div>
<div class="flex  w-5/12 px-2 lg:ml-6 lg:justify-end"  data-behavior="autocomplete" data-controller="nav-search" data-nav-search-url-value="/search/people-projects">
  <div class="w-full max-w-xs lg:max-w-sm justify-end">
    <div class="relative">
      <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none" >
        <!-- Heroicon name: solid/search -->
        <svg class="w-5 h-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
        </svg>
      </div>
      <input id="search" name="search" class="block w-full py-1 pl-10 pr-3 leading-5 text-gray-300 placeholder-gray-400 bg-gray-700 border border-transparent rounded-md focus:outline-none focus:bg-white focus:border-white focus:ring-white focus:text-gray-900 sm:text-sm" placeholder="Search Employee or Project" type="search" data-nav-search-target="input">
    </div>
    <div class="relative">
      <div class="absolute left-0 z-10 block w-full mt-2 origin-top-right bg-white rounded-md shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
        <ul data-nav-search-target="results">
        </ul>
      </div>
    </div>
  </div>
</div>
