<main class="relative z-0 flex-1 focus:outline-none">
  <%= render "employee/title", employee: @employee %>
  <main class="pb-8">
    <div class="" id="nuggets">
      <div class="grid items-start grid-cols-1 lg:grid-cols-3 ">
        <!-- Left column -->
        <div class="grid grid-cols-1 lg:col-span-2" >
          <section aria-labelledby="participants_section">
            <div class="overflow-hidden bg-white">
              <div id="employee-nuggets" class="flex  flex-wrap " data-controller="infinite-scroll">
                <table class="table">
                  <thead class="bg-gray-50">
                    <tr>
                      <th scope="col" class=" w-full table-head">
                        Nugget
                      </th>
                      <th scope="col" class=" table-head">
                        Skill
                      </th>
                      <th scope="col" class="table-head">
                        Status
                      </th>
                    </tr>
                  </thead>
                  <tbody class="table-body" id="nuggets" data-infinite-scroll-target="entries">
                    <%= render partial: "nugget", collection: @nuggets, as: :nugget, cached: false %>
                  </tbody>
                </table>
                <div class="flex justify-end invisible mt-2 mb-6 mr-2" data-infinite-scroll-target="pagination">
                  <%== render partial: "shared/paginator", locals: { pagy: @pagy } %>
                </div>
              </div>
            </div>
          </section>
        </div>
        <!-- Right column -->
        <div class="grid grid-cols-1 gap-4 xl:border-l xl:border-gray-200">
          <section aria-labelledby="add-participant-section">
            <div class="bg-white">
              <div class="px-4">
                <main class="max-w-lg px-4 pt-6 pb-12 mx-auto space-y-6 lg:pb-16 z-10">
                  <%= render "shared/form_header", title: "Filter Nuggets by Skill", subtitle: "" %>
                  <div class="flex justify-center w-full max-w-sm lg:justify-end" >
                    <div class="w-full max-w-sm lg:max-w-sm">
                      <label for="skill" class="block text-sm font-medium text-gray-700"></label>
                      <div class="mt-1">
                        <%= tailwind_form_with(url: employee_nuggets_path, method: "get") do |f| %>
                          <%= f.collection_select(:skill_id, @employee.skills.all.order("LOWER(skills.name) ASC"), :id, :name, { :prompt => "Select Skill", :selected => params[:skill_id] }, :class => "form-text-field mt-1", :onchange => ("javascript: this.form.submit();")) %>
                          <div class="flex justify-end mt-1 w-full">
                            <%= link_to "Clear Filter", employee_nuggets_path(@employee), class: "btn-inline-edit" %>
                          </div>
                        <% end %>
                      </div>
                      <div class="relative">
                        <div class="absolute left-0 z-10 block w-full mt-2 origin-top-right bg-white rounded-md shadow-lg ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
                          <ul data-nav-search-target="results">
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </main>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </main>
</main>
