  <%= tailwind_form_with(model: user, id: dom_id(user), url: "password") do |form| %>
  <div>
    <div class="space-y-6">
      <%= render "shared/form_messages", resource: @form, message: local_assigns[:message] %>
      <%= render "shared/form_header", title: "Change Password", subtitle: "Please fill in details to change your password." %>
      <%= form.password_field :original_password, "Old Password" %>
      <%= form.password_field :new_password, "New Password" %>
      <%= form.password_field :new_password_confirmation, "Confirm New Password" %>
      <div class="flex justify-end">
        <%= form.submit "Save", class: "btn-blue" %>
      </div>
    </div>
    <div>
    <% end %>
