  <%= tailwind_form_with(model: user, id: dom_id(user)) do |form| %>
  <div>
    <div class="space-y-6">
      <%= render "shared/form_messages", resource: user, message: local_assigns[:message] %>
      <%= render "shared/form_header", title: "Profile Settings", subtitle: "Please fill in your personal information." %>
      <%= form.text_field :first_name, "First Name" %>
      <%= form.text_field :last_name, "Last Name" %>
      <%= form.text_field :email, "Email" %>
      <div class="flex justify-end">
        <%= form.submit "Save", class: "btn-blue" %>
      </div>
    </div>
  </div>
<% end %>
