<% actor = attempt.actor.decorate %>
<% survey = attempt.survey %>
<% participant = attempt.participant.decorate %>
<tr class="bg-white " id="<%= dom_id(attempt) %>">
  <td class=" whitespace-nowrap  table-cell">
    <a class= "hover:underline" href="<%= resolve_redirect_path(attempt) %>">
      <p> <%= participant.display_name %></p>
    </a>
  </td>
  <td class=" whitespace-nowrap  table-cell">
    <p> <%= actor.display_name %></p>
  </td>
  <td class=" whitespace-nowrap  table-cell">
    <p> <%= display_date(attempt.created_at) %></p>
  </td>
  <td class=" whitespace-nowrap  table-cell">
    <p> <%= attempt.decorate.display_score %></p>
  </td>
  <td class="whitespace-nowrap text-sm font-xs mt-4 text-gray-500 max-w-full flex">
    <% if attempt.submitted? %>
      <!-- Heroicon name: solid/check-circle -->
      <svg class="ml-1 flex-shrink-0 mr-1.5 h-5 w-5 text-green-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
      </svg>
      Submitted
    <% else %>
      <svg class="ml-1 flex-shrink-0 mr-1.5 h-5 w-5 text-yellow-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z" clip-rule="evenodd" />
      </svg>
      In Progress
    <% end %>
  </td>
  <td class="table-cell">
    <% if current_user.admin? %>
      <%= link_to "Delete", survey_attempt_path(attempt.survey, attempt), method: :delete, class: "btn-inline-delete", data: { confirm: "Are you sure?" } %>
    <% elsif attempt.submitted? == false and current_user == attempt.actor %>
      <%= link_to "Delete", survey_attempt_path(attempt.survey, attempt), method: :delete, class: "btn-inline-delete", data: { confirm: "Are you sure?" } %>
    <% end %>
    <a class="ml-4 inline-flex items-center px-2.5 py-1.5 border border-gray-300 shadow-sm text-xs font-medium rounded text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" href="<%= survey_report_preview_path(attempt.survey, attempt) %>">
      View
    </a>
  </td>
</tr>
