<turbo-frame id="stats">
  <section aria-labelledby="add-participant-section">
    <div class="overflow-hidden bg-white">
      <% if show_own_attempts %>
        <p class="mt-1 max-w-4xl text-sm text-gray-500 text-center">Showing results from self assessment.</p>
      <% else %>
        <p class="mt-1 max-w-4xl text-sm text-gray-500 text-center">Showing results from team assessment.</p>
      <% end %>
      <div class="px-4 justify-between flex">
        <div class="p-5">
          <% if current_user.admin? %>
            <a href="<%= "/#{employee.account.id}/report/kpis?survey_type=2&participant_id=#{employee.id}" %>" class="hover:underline">
              <h3 class="text-lg leading-6 font-medium text-gray-900">
                KPIs Stats
              </h3>
            </a>
            <a class="hover:underline" href="<%= "/#{employee.account.id}/surveys/#{kpi.id}/attempts" %>">
              <p class="mt-2 max-w-4xl text-sm text-gray-500"><%= kpi.name %></p>
            </a>
          <% else %>
            <h3 class="text-lg leading-6 font-medium text-gray-900">
              KPIs Stats
            </h3>
            <p class="mt-2 max-w-4xl text-sm text-gray-500"><%= kpi.name %></p>
          <% end %>
        </div>
        <div class="px-4 p-4 bg-white overflow-hidden">
          <dd class="text-3xl font-semibold text-gray-900 text-right">
            <%= stats.average_score.to_s %>
          </dd>
          <dt class="text-sm font-medium text-gray-500 truncate">
            Score (out of 10)
          </dt>
        </div>
      </div>
      <ul>
        <% stats.contributions.each do |contribution| %>
          <%= render partial: "shared/surveys/progress_bar", locals: { title: contribution.category, score: contribution.score, scale: 10 } %>
        <% end %>
      </ul>
    </div>
  </section>
</turbo-frame>
