<% question = question.decorate %>
<%= turbo_frame_tag dom_id(question) do %>
  <li class="py-3 flex border-b border-gray-200" data-actor-id=<%= current_user.id %> data-participant-type=<%= participant.class.name %> data-participant-id=<%= participant.id %> data-question-id=<%= question.id %>>
    <div class="ml-3 w-full">
      <p class="text-xs font-medium text-gray-500 uppercase"><%= question.display_category %></p>
      <p class="text-sm font-semibold text-gray-900"><%= question.display_text %></p>
      <% if current_user == participant %>
        <p class="text-sm text-gray-500"><%= question.display_explanation %></p>
      <% else %>
        <p class="text-sm text-gray-500"><%= question.display_description %></p>
      <% end %>
      <div class= "inline-flex">
        <button  data-reflex="click->SurveyParticipantStats#summary" data-reflex-dataset="combined" class="btn-inline-edit underline mt-2 text-xs" >View summary</button>
        <% if policy([participant, :kpi]).record? %>
          <p  data-reflex="click->EmployeeKpi#assessment" data-reflex-dataset="combined" class="btn-inline-edit underline mt-2 text-xs px-4" >Quick Assessment</p>
        <% end %>
      </div>
      <div id=<%= "summary_" + question.id.to_s %>   >
      </div>
    </div>
  </li>
<% end %>
