<div class="flex flex-col justify-center min-h-screen py-12 bg-gray-50 sm:px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <img class="w-auto h-12 mx-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg" alt="Workflow">
    <h2 class="mt-6 text-3xl font-extrabold text-center text-gray-900">
      Change your password
    </h2>
  </div>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.hidden_field :reset_password_token %>
    <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="px-4 py-8 mt-4 space-y-6 bg-white shadow sm:rounded-lg sm:px-10">
        <div>
          <label for="password" class="block text-sm font-medium text-gray-700">
            New Password
          </label>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em><br />
          <% end %>
          <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
        </div>
        <div>
          <label for="password_confirmation" class="block text-sm font-medium text-gray-700">
            Confrim New Password
          </label>
          <%= f.password_field :password_confirmation, autofocus: true, autocomplete: "new-password", class: "appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
        </div>
        <div>
          <%= f.submit "Change my password", class: "cursor-pointer w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
        </div>
        <div>
          <% -if controller_name != "sessions" %>
          <div class="text-sm text-center">
            <a href="<%= new_session_path(resource_name) %>" class="font-medium text-indigo-600 hover:text-indigo-500">
              Log in
            </a>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
