<li id=<%= dom_id(milestone) %>>
  <div class="flex space-x-3">
    <div class="flex-shrink-0">
      <%= image_tag "male-placeholder-image.png", class: "w-10 h-10 rounded-full" %>
    </div>
    <div>
      <div class="text-sm">
        <a href="#" class="font-medium text-gray-900"><%= milestone.user.decorate.display_name %></a>
        <span class="inline-flex items-center px-2.5 py-0.5 rounded-md text-xs font-medium <%= goal_status_color(milestone) %>">
          <%= milestone.status.to_s %>
        </span>
      </div>
      <div class="mt-1 text-sm text-gray-700">
        <p><%= highlight_hashtag(milestone.title) %></p>
      </div>
      <div class="mt-2 space-x-2 text-sm"  id=<%= "buttons_" + dom_id(milestone) %>>
        <span class="font-medium text-gray-500"><%= display_created_at(milestone) %></span>
        <%= link_to "Show", project_milestone_path(@project, milestone), class: "btn-inline-edit pl-2" %>
        <% if policy([@project, milestone]).edit? %>
          <%= link_to "Edit", edit_project_milestone_path(@project, milestone), class: "btn-inline-delete pl-2" %>
        <% end %>
        <% if policy([@project, milestone]).destroy? %>
          <%= link_to "Delete", project_milestone_path(@project, milestone), method: :delete, class: "btn-inline-delete pl-2", data: { confirm: "Are you sure?" } %>
        <% end %>
      </div>
    </div>
  </div>
</li>
