<!-- This example requires Tailwind CSS v2.0+ -->
<main class="max-w-4xl px-4 pt-10 pb-12 mx-auto space-y-6 lg:pb-16">
  <div class="px-4 py-4 sm:flex sm:items-center sm:justify-between sm:px-6 lg:px-8" id="milestone-detail">
    <%= render partial: "shared/goals/title", locals: { goal: @milestone } %>
    <div class="flex mt-4 sm:mt-0 sm:ml-4">
      <%= link_to "Back", "javascript:history.back()", class: "btn-normal" %>
      <% if policy([@project, @milestone]).edit? %>
        <%= link_to "Edit", edit_project_milestone_path(@milestone.goalable, @milestone), class: "btn-blue ml-3" %>
      <% end %>
    </div>
  </div>
  <% cache @milestone do %>
    <div class="mt-1 text-sm text-gray-700 sm:px-6 lg:px-8">
      <p><%= @milestone.body %></p>
    </div>
  <% end %>
  <!-- Comments-->
  <section aria-labelledby="notes-title">
    <div class="pb-24 bg-white sm:rounded-lg overflow">
      <div class="divide-y divide-gray-200">
        <div class="px-4 py-5 sm:px-6">
          <h2 id="notes-title" class="text-lg font-medium text-gray-900">Comments</h2>
        </div>
        <div class="px-4 py-6 sm:px-6">
          <ul class="space-y-4" id="comments">
            <%= render partial: "shared/comments/comment", collection: @milestone.comments.includes(:user), as: :comment, cached: true %>
          </ul>
        </div>
      </div>
      <%= render partial: "shared/comments/add", locals: { goal: @milestone, comment: @comment } %>
    </div>
  </section>
</main>
