<div class="flex flex-col pt-5 pb-4 border-r border-gray-200">
  <div class="flex flex-col flex-1 w-64 h-0 overflow-y-auto">
    <div class="relative inline-block px-3 text-left">
      <nav class="px-3">
        <div>
          <h3 class="text-xs font-semibold tracking-wider text-gray-500 uppercase" id="teams-headline">
            Filter Documents report
          </h3>
          <%= form_with url: kbs_reports_path, method: :get do |form| %>
            <main class="max-w-lg pt-6 pb-12 mx-auto space-y-4 lg:pb-16">
              <div>
                <label for="users" class="block text-sm font-medium text-gray-700">
                  Users
                </label>
                <%= form.collection_select(:user_id, User.all_users.decorate, :id, :display_name_position, { :prompt => "Select Employee", :selected => (params["user_id"] if !params["user_id"].blank?) }, :class => "form-text-field mt-1") %>
              </div>
              <div>
                <label for="discipline" class="block mt-4 text-sm font-medium text-gray-700">Select Department</label>
                <select name="discipline_id" class="form-text-field mt-1">
                  <% if (params["discipline_id"] && params["discipline_id"].nil?) %>
                    <option value="" selected="selected">Everyone</option>
                  <% else %>
                    <option value="">Everyone</option>
                  <% end %>
                  <% Discipline.order(:name).each do |discipline| %>
                    <% if (params["discipline_id"] && params["discipline_id"] == discipline.id.to_s) %>
                      <option selected= "selected" value="<%= discipline.id %>"><%= discipline.name %></option>
                    <% else %>
                      <option value="<%= discipline.id %>"><%= discipline.name %></option>
                    <% end %>
                  <% end %>
                </select>
              </div>
              <div>
                <label for="job" class="block mt-4 text-sm font-medium text-gray-700">Select Job</label>
                <select name="job_id" class="form-text-field mt-1">
                  <% if (params["job_id"] && params["job_id"].nil?) %>
                    <option value="" selected="selected">Everyone</option>
                  <% else %>
                    <option value="">Everyone</option>
                  <% end %>
                  <% Job.order(:name).each do |job| %>
                    <% if (params["job_id"] && params["job_id"] == job.id.to_s) %>
                      <option selected= "selected" value="<%= job.id %>"><%= job.name %></option>
                    <% else %>
                      <option value="<%= job.id %>"><%= job.name %></option>
                    <% end %>
                  <% end %>
                </select>
              </div>
              <div class="flex justify-end mt-6">
                <%= link_to "Reset", kbs_reports_path, class: "btn-normal" %>
                <%= form.submit "Search", class: "btn-blue" %>
              </div>
            </main>
          <% end %>
        </div>
      </nav>
    </div>
  </div>
</div>
