<main class="relative z-0 flex-1 overflow-y-auto focus:outline-none">
  <%= render "employee/title", employee: @employee %>
  <main class="pb-8">
    <div class="">
      <!-- Main 3 column grid -->
      <div class="grid items-start grid-cols-1 lg:grid-cols-3">
        <!-- Left column -->
        <div class="grid grid-cols-1 gap-4 lg:col-span-2">
          <% unless @kpi.nil? %>
            <section aria-labelledby="participants_section">
              <div class="overflow-hidden bg-white">
                <div class="p-4">
                  <div class="flex flex-wrap">
                    <p class=" mt-1 text-sm font-medium text-gray-900 truncate"><%= "KPIs Questions set (" + @kpi.questions.load.size.to_s + ")" %></p>
                  </div>
                  <ul class="divide-y divide-gray-200" id="questions">
                    <%= render partial: "shared/surveys/question", collection: @kpi.questions.order_by_category, locals: { as: :question, participant: @employee }, cached: false %>
                  </ul>
                </div>
              </div>
            </section>
          <% end %>
        </div>
        <!-- Right column -->
        <div class="grid grid-cols-1 gap-4 xl:border-l xl:border-gray-200">
          <% if @kpi.nil? %>
            <p class="mt-2 p-4 max-w-4xl text-sm text-gray-500">No KPIs have been assinged yet. If you are an admin, you can set KPIs from surveys page. If not, please connect with the admin. </p>
          <% else %>
            <div class="flex justify-center mt-4" data-employee-id="<%= @employee.id %>">
              <span class="relative z-0 inline-flex rounded-md shadow-sm">
                <button type="button" data-reflex="click->EmployeeKpi#self_assessment" data-reflex-dataset="combined" class="relative inline-flex items-center px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-l-md hover:bg-gray-50 focus:z-10 focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500">
                  Self Assessment
                </button>
                <button type="button" data-reflex="click->EmployeeKpi#team_assessment" data-reflex-dataset="combined" class="relative inline-flex items-center px-4 py-2 -ml-px text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-r-md hover:bg-gray-50 focus:z-10 focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500">
                  Team Assessment
                </button>
              </span>
            </div>
            <%= turbo_frame_tag "stats", src: "/#{@employee.account.id}/employees/#{@employee.id}/kpis/#{@kpi.id}/stats", target: "_top", loading: :lazy do %>
              <p class="pb-2 px-8 mt-1 text-sm text-gray-500 truncate">Hold on a sec while I fetch stats...</p>
            <% end %>
            <% if policy([@employee, :kpi]).self_record? %>
              <div class="text-center mt-2">
                <h3 class="mt-2 text-sm font-medium text-gray-900">Record Self Assessment</h3>
                <p class="mt-1 text-sm text-gray-500 px-8">
                  You have been assigned <%= @kpi.name.upcase_first %>. Please click on button below to record a new self assessment.
                </p>
                <div class="mt-2">
                  <%= link_to "Record Self Assessment", new_survey_attempt_path(@kpi, participant_id: @employee.id), class: "btn-blue", data: { confirm: "The result of your assessment will be used to calculate overall KPIs performance. Are you sure you want to proceed?" } %>
                </div>
              </div>
            <% elsif policy([@employee, :kpi]).record? %>
              <div class="text-center mt-4">
                <h3 class="mt-2 text-sm font-medium text-gray-900">Record New Assessment</h3>
                <p class="mt-1 text-sm text-gray-500 px-8">
                  <%= @employee.decorate.display_name %> has been assigned <%= @kpi.name.upcase_first %>. Please click on button below to record a new assessment.
                </p>
                <div class="mt-2">
                  <%= link_to "Record Assessment", new_survey_attempt_path(@kpi, participant_id: @employee.id), class: "btn-blue", data: { confirm: "The result of your assessment will be used to calculate overall KPIs performance. Are you sure you want to proceed?" } %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </main>
</main>
