<%= tailwind_form_with(model: project, id: dom_id(project)) do |form| %>
  <main class="max-w-lg px-4 pt-10 pb-12 mx-auto space-y-6 lg:pb-16">
    <%= render "shared/form_messages", resource: project, message: local_assigns[:message] %>
    <%= render "shared/form_header", title: local_assigns[:title], subtitle: local_assigns[:subtitle] %>
    <%= form.text_field :name, "Project Name" %>
    <%= form.text_area :description, "Description" %>
    <div>
      <label for="discipline" class="block mt-4 text-sm font-medium text-gray-700">Select Discipline</label>
      <%= form.collection_select(:discipline_id, Discipline.all, :id, :name, { :prompt => "Select Discipline" }, :selected => project.discipline_id, :class => "form-text-field mt-1") %>
    </div>
    <div>
      <label for="manager" class="block mt-4 text-sm font-medium text-gray-700">
        Select Manager
      </label>
      <%= form.collection_select(:manager_id, User.all_users.decorate, :id, :display_name_position, { :prompt => "Select Manager" }, :selected => project.manager_id, :class => "form-text-field mt-1") %>
    </div>
    <div class="flex items-center justify-between">
      <div class="flex items-center">
        <%= form.check_box :billable, class: "w-4 h-4 text-indigo-600 border-gray-300 rounded focus:ring-indigo-500" %>
        <label for="remember_me" class="block ml-2 text-sm text-gray-900">
          This Project is billable. Uncheck to mark internal or unbillable. 
        </label>
      </div>
    </div>
    <div class="flex justify-end">
      <%= link_to "Back", "javascript:history.back()", class: "btn-normal" %>
      <%= form.submit "Save", class: "btn-blue" %>
    </div>
  </main>
<% end %>
