<main class="relative z-0 flex-1 overflow-y-auto focus:outline-none">
  <%= render partial: "project/title", locals: { project: @project } %>
  <main class="pb-8">
    <div class="">
      <!-- Main 3 column grid -->
      <div class="grid items-start grid-cols-1 lg:grid-cols-3">
        <!-- Left column -->
        <div class="grid grid-cols-1 gap-4 lg:col-span-2" id="timesheet-list">
          <% if @timesheets.size > 0 %>
            <section aria-labelledby="participants_section">
              <div class="overflow-hidden bg-white" >
                <div class="w-full overflow-hidden" data-controller="infinite-scroll">
                  <table class="table">
                    <thead class="bg-gray-50">
                      <tr>
                        <th scope="col" class="table-head">
                          Employee
                        </th>
                        <th scope="col" class="table-head">
                          Task
                        </th>
                        <th scope="col" class="table-head">
                          Date
                        </th>
                        <th scope="col" class="table-head">
                          Hours
                        </th>
                      </tr>
                    </thead>
                    <tbody class="table-body" data-infinite-scroll-target="entries">
                      <%= render partial: "project/timesheets/timesheet", collection: @timesheets, cached: true %>
                    </tbody>
                  </table>
                  <p class="pr-4 mt-2 text-sm text-right text-gray-500">Showing last 30 days' timesheets only.</p>
                  <div class="flex justify-end mt-2 mb-6 mr-2 invisible" data-infinite-scroll-target="pagination">
                    <%== render partial: "shared/paginator", locals: { pagy: @pagy } %>
                  </div>
                </div>
              </div>
            <% end %>
          </section>
        </div>
        <!-- Right column -->
        <div class="grid grid-cols-1 gap-4 xl:border-l xl:border-gray-200" id="timesheet-stats">
          <section aria-labelledby="add-participant-section">
            <div class="overflow-hidden bg-white">
              <div class="px-4">
                <div class="flex justify-center mt-4" data-project-id="<%= @project.id %>">
                  <span class="relative inline-flex rounded-md shadow-sm">
                    <button type="button" data-reflex="click->ProjectTimesheetsStats#last_week" data-reflex-dataset="combined" class="relative inline-flex items-center px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-l-md hover:bg-gray-50 focus:z-10 focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500">
                      Last Week
                    </button>
                    <button type="button" data-reflex="click->ProjectTimesheetsStats#last_month" data-reflex-dataset="combined" class="relative inline-flex items-center px-4 py-2 -ml-px text-sm font-medium text-gray-700 bg-white border border-gray-300 hover:bg-gray-50 focus:z-10 focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500">
                      Last Month
                    </button>
                    <button type="button" data-reflex="click->ProjectTimesheetsStats#since_beginning" data-reflex-dataset="combined" class="relative inline-flex items-center px-4 py-2 -ml-px text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-r-md hover:bg-gray-50 focus:z-10 focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500">
                      Since Start
                    </button>
                  </span>
                </div>
                <div id="stats">
                  <%= render partial: "project/timesheets/stats", locals: { project_stats: @project_timesheets_stats, title: @project_timesheets_stats.title }, cached: true %>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </main>
  <div class="pt-4 pl-16 pr-16">
  </div>
</main>
