<% unless employee.status.nil? %>
  <span class="inline-flex items-center px-3 py-0.5 mr-4  rounded-full text-sm font-medium bg-<%= employee.status.color %>-100 text-<%= employee.status.color %>-800" >
    <%= employee.status.name %>
    <button id="remove" data-reflex="click->EmployeeStatus#remove" data-employee-id=<%= employee.id %> type="button" class="flex-shrink-0 ml-0.5 h-4 w-4 rounded-full inline-flex items-center justify-center text-<%= employee.status.color %>-400 hover:bg-<%= employee.status.color %>-200 hover:text-<%= employee.status.color %>-400 focus:outline-none focus:bg-<%= employee.status.color %>-400 focus:text-white">
      <svg class="w-2 h-2" stroke="currentColor" fill="none" viewBox="0 0 8 8">
        <path stroke-linecap="round" stroke-width="1.5" d="M1 1l6 6m0-6L1 7" />
      </svg>
    </button>
  </span>
<% end %>
