<div class="relative z-0 flex-1 overflow-y-auto focus:outline-none">
  <!-- Page title & actions -->
  <div class="px-4 py-4 border-b border-gray-200 sm:flex sm:items-center sm:justify-between sm:px-6 lg:px-8">
    <div class="flex flex-wrap items-baseline -mt-2 -ml-2">
      <h1 class="text-3xl font-bold leading-tight text-gray-900">
        Employees
      </h1>
    </div>
  </div>
</div>
<div class="flex w-full overflow-hidden bg-white">
  <div class="flex w-full">
    <%= render partial: "form" %>
    <% if @employees.size > 0 %>
      <div class="w-full overflow-hidden" data-controller="infinite-scroll">
        <!-- This example requires Tailwind CSS v2.0+ -->
        <%= render partial: "stats", locals: { stats: @stats } %>
        <table class="table">
          <thead class="border-b border-gray-200 bg-gray-50">
            <tr>
              <th scope="col" class="table-head">
                Name
              </th>
              <th scope="col" class="table-head">
                Title
              </th>
              <th scope="col" class="table-head">
                Manager
              </th>
              <th class="table-head">
                Status
              </th>
              <th class="table-head">
                Permission
              </th>
            </tr>
          </thead>
          <tbody class="table-body" data-infinite-scroll-target="entries">
            <%= render partial: "employee", collection: @employees, as: :employee, cached: true %>
          </tbody>
        </table>
        <div class="flex justify-end invisible mt-2 mb-6 mr-2" data-infinite-scroll-target="pagination">
          <%== render partial: "shared/paginator", locals: { pagy: @pagy } %>
        </div>
      </div>
    <% else %>
      <%= render partial: "shared/no_result_found", cached: true %>
    <% end %>
  </div>
</div>
