<div class="flex flex-col pt-5 pb-4 border-r border-gray-200">
  <div class="flex flex-col flex-1 w-64 h-0 overflow-y-auto">
    <div class="relative inline-block px-3 text-left">
      <nav class="px-3">
        <div>
          <h3 class="text-xs font-semibold tracking-wider text-gray-500 uppercase" id="teams-headline">
            Filter Goals
          </h3>
          <%= form_with url: goals_reports_path, method: :get do |form| %>
            <main class="max-w-lg pt-6 pb-12 mx-auto space-y-4 lg:pb-16">
              <div>
                <label for="date" class="block text-sm font-medium text-gray-700">
                  Goal Type
                </label>
                <%= form.select(:type, [["Any", ""], ["Employee Goal", "User"], ["Project Milestone", "Project"]], { selected: params["type"] }, :class => "form-text-field mt-1") %>
              </div>
              <div>
                <label for="date" class="block text-sm font-medium text-gray-700">
                  Created By
                </label>
                <%= form.collection_select(:created_by, User.all_users.decorate, :id, :display_name, { :prompt => "Select Employee", :selected => (params["created_by"] if !params["created_by"].blank?) }, :class => "form-text-field mt-1") %>
              </div>
              <div>
                <label for="date" class="block text-sm font-medium text-gray-700">
                  Created For
                </label>
                <%= form.collection_select(:created_for, User.all_users.decorate, :id, :display_name, { :prompt => "Select Employee", :selected => (params["created_for"] if !params["created_for"].blank?) }, :class => "form-text-field mt-1") %>
              </div>
              <div>
                <label for="date" class="block text-sm font-medium text-gray-700">
                  Deadline within Start Date
                </label>
                <%= form.date_field :from_date, class: "form-text-field mt-1", value: params["from_date"].blank? ? (Date.today - 45.days).to_s(:db) : params["from_date"] %>
              </div>
              <div>
                <label for="date" class="block text-sm font-medium text-gray-700">
                  Deadline within End Date
                </label>
                <%= form.date_field :to_date, class: "form-text-field mt-1", value: params["to_date"].blank? ? (Date.today).to_s(:db) : params["to_date"] %>
              </div>
              <div>
                <label for="billed" class="block text-sm font-medium text-gray-700">
                  Status
                </label>
                <%= form.select(:status, [["Any", ""], ["Progress", 0], ["Completed", 1], ["Missed", 2], ["Discarded", 3]], { selected: params["status"] }, :class => "form-text-field mt-1") %>
              </div>
              <div>
                <label for="billed" class="block text-sm font-medium text-gray-700">
                  HashTag
                </label>
                <%= form.collection_select(:tag, Tag.order(:name), :id, :name, { :prompt => "Select Tag", :selected => (params["tag"] if !params["tag"].blank?) }, :class => "form-text-field mt-1") %>
              </div>
              <div class="flex justify-end mt-6">
                <%= link_to "Reset", goals_reports_path, class: "btn-normal" %>
                <%= form.submit "Search", class: "btn-blue" %>
              </div>
            </main>
          <% end %>
        </div>
      </nav>
    </div>
  </div>
</div>
