<%= turbo_frame_tag dom_id(schedule) do %>
  <% schedule = schedule.decorate %>
  <li class="border-b border-gray-200">
    <div class="flex items-center px-2 py-2 sm:px-6">
      <div class="flex items-center flex-1 min-w-0">
        <div class="flex-shrink-0">
          <%= image_tag "male-placeholder-image.png", class: "w-12 h-12 rounded-full" %>
        </div>
        <div class="flex-1 min-w-0 px-4 md:grid md:grid-cols-8 md:gap-4">
          <% if current_user.admin? %>
            <a href="<%= employee_schedules_path(schedule.user) %>" class="block hover:underline col-span-3" target="_top">
              <div>
                <p class="text-sm font-medium text-gray-900 truncate">
                  <span class="truncate"><%= schedule.user.display_name %></span>
                  <% unless schedule.user.status.nil? %>
                    <span class="inline-flex px-2 text-xs font-semibold leading-5 text-<%= schedule.user.status.color %>-800 bg-<%= schedule.user.status.color %>-100 rounded-full">
                      <%= schedule.user.status.name.titleize %>
                    </span>
                  <% end %>
                </p>
                <p class="flex items-center mt-1 text-sm text-gray-500">
                  <span class="truncate"><%= schedule.user.display_position %></span>
                </p>
              </div>
            </a>
          <% else %>
            <div>
              <p class="text-sm font-medium text-gray-900 truncate col-span-3">
                <span class="truncate"><%= schedule.user.display_name %></span>
                <% unless schedule.user.status.nil? %>
                  <% if current_user.admin? %>
                    <span class="inline-flex px-2 text-xs font-semibold leading-5 text-<%= schedule.user.status.color %>-800 bg-<%= schedule.user.status.color %>-100 rounded-full">
                      <%= schedule.user.status.name.titleize %>
                    </span>
                  <% end %>
                <% end %>
              </p>
              <p class="flex items-center mt-1 text-sm text-gray-500">
                <span class="truncate"><%= schedule.user.display_position %></span>
              </p>
            </div>
          <% end %>
          <div class="flex col-span-2">
            <div class="whitespace-nowrap">
              <div class="text-sm text-gray-700"><%= schedule.display_occupancy %></div>
              <div class="text-sm text-gray-500"><%= schedule.display_occupied_till %></div>
            </div>
          </div>
          <% if current_user.admin? %>
            <div class="flex col-span-2" id="billable-schedule">
              <% if schedule.billable? %>
                <p class="flex items-center text-sm text-gray-500 col-span-2">
                  <svg class="flex-shrink-0 mr-1.5 h-4 w-4 text-green-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                  </svg>
                  Billable Schedule
                </p>
              <% else %>
                <p class="flex items-center text-sm text-gray-500 col-span-2">
                  <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-red-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
                  </svg>
                  Non-Billable Schedule  
                </p>
              <% end %>
            </div>
            <div class="flex col-span-1">
              <div class="whitespace-nowrap">
                <div class="text-sm text-gray-900"><%= link_to "Edit", edit_project_schedule_path(@project, schedule), class: "btn-inline-edit" %></div>
                <div class="text-sm text-gray-900"><%= link_to "Delete", [@project, schedule], method: :delete, class: "btn-inline-delete", data: { confirm: "Are you sure?" } %></div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </li>
<% end %>
