<div class="flex flex-col pt-5 pb-4 border-r border-gray-200">
  <div class="flex flex-col flex-1 w-64 h-0 overflow-y-auto">
    <div class="relative inline-block px-3 text-left">
      <nav class="px-3">
        <div>
          <h3 class="text-xs font-semibold tracking-wider text-gray-500 uppercase" id="teams-headline">
            Filter Nuggets
          </h3>
          <%= form_with url: nuggets_reports_path, method: :get do |form| %>
            <main class="max-w-lg pt-6 pb-12 mx-auto space-y-4 lg:pb-16">
              <div>
                <label for="users" class="block text-sm font-medium text-gray-700">
                  Users
                </label>
                <%= form.collection_select(:user_id, User.all_users.decorate, :id, :display_name_position, { :prompt => "Select Employee", :selected => (params["user_id"] if !params["user_id"].blank?) }, :class => "form-text-field mt-1") %>
              </div>
              <div>
                <label for="status" class="block text-sm font-medium text-gray-700">
                  Status
                </label>
                <%= form.select(:published, [["Any", ""], ["Published", "true"], ["In Review", "false"]], { :selected => (params["published"] if !params["published"].blank?) }, :class => "form-text-field mt-1") %>
              </div>
              <div>
                <label for="skill" class="block text-sm font-medium text-gray-700">
                  Skill
                </label>
                <%= form.collection_select(:skill_id, Skill.all.order("LOWER(name) ASC"), :id, :name, { :prompt => "Select Skill", :selected => (params["skill_id"] if !params["skill_id"].blank?) }, :class => "form-text-field mt-1") %>
              </div>
              <div class="flex justify-end mt-6">
                <%= link_to "Reset", nuggets_reports_path, class: "btn-normal" %>
                <%= form.submit "Search", class: "btn-blue" %>
              </div>
            </main>
          <% end %>
        </div>
      </nav>
    </div>
  </div>
</div>
