<tr id="<%= dom_id todo %>">
  <% todo = todo.decorate %>
  <td class="w-full table-cell">
    <p><%= highlight_hashtag(auto_link_urls_in_text(todo.title)) %></p>
  </td>
  <td class="table-cell  whitespace-nowrap">
    <% if current_user.admin? && !todo.project.nil? %>
      <a href="<%= project_todos_path(todo.project) %>" class="block hover:underline">
        <%= todo.project.name %>
      </a>
    <% end %>
  </td>
  <td class="table-cell  whitespace-nowrap">
    <% if current_user.admin? %>
      <a href="<%= employee_todos_path(todo.owner) %>" class="block hover:underline">
        <%= todo.owner.display_name %>
      </a>
    <% end %>
  </td>
  <td class="table-cell whitespace-nowrap">
    <%= display_date(todo.deadline) %>
  </td>
</tr>
