<tr>
  <td class="table-cell  whitespace-nowrap">
    <a href="<%= project_timesheets_path(timesheet.project) %>" class="block hover:underline">
      <%= timesheet.project.name %>
    </a>
  </td>
  <td class="table-cell  whitespace-nowrap">
    <a href="<%= employee_timesheets_path(timesheet.user) %>" class="block hover:underline">
      <%= timesheet.user.decorate.display_name %>
    </a>
  </td>
  <td class="w-full table-cell ">
    <%= timesheet.description %>
  </td>
  <td class="table-cell  whitespace-nowrap">
    <%= display_date(timesheet.date) %>
  </td>
  <td class="table-cell  whitespace-nowrap">
    <%= timesheet.hours %>
  </td>
  <td class="table-cell whitespace-nowrap">
    <%= timesheet.billable %>
  </td>
  <td class="table-cell  whitespace-nowrap">
    <%= timesheet.billed %>
  </td>
</tr>
