<% @employees.each do |result| %>
  <a href="<%= employee_team_path(result) %>">
    <li role="option" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900">
      <%= result.first_name + " " + result.last_name %> (<%= result.job.name if !result.job.blank? %>)
    </li>
  </a>
<% end %>
<% if @projects.size > 0 && @employees.size > 0 %>
  <!-- This example requires Tailwind CSS v2.0+ -->
  <div class="relative">
    <div class="absolute inset-0 flex items-center" aria-hidden="true">
      <div class="w-full border-t border-gray-300"></div>
    </div>
    <div class="relative flex justify-start">
      <span class="px-4 pr-2 text-sm italic font-bold text-gray-500 bg-white">
        Projects
      </span>
    </div>
  </div>
<% end %>
<% @projects.each do |result| %>
  <a href="<%= project_path(result) %>">
    <li role="option" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900">
      <%= result.name %>
    </li>
  </a>
<% end %>
