<li id=<%= dom_id(feedback) %>>
  <div class="flex space-x-3">
    <div class="flex-shrink-0">
      <%= image_tag "male-placeholder-image.png", class: "w-10 h-10 rounded-full" %>
    </div>
    <div>
      <div class="text-sm">
        <a href="#" class="font-medium text-gray-900"><%= feedback.user.decorate.display_name %></a>
      </div>
      <div class="mt-1 text-sm text-gray-700">
        <p><%= highlight_hashtag(feedback.title) %></p>
      </div>
      <div class="mt-2 space-x-2 text-sm" id=<%= "buttons_" + dom_id(feedback) %>>
        <span class="font-medium text-gray-500"><%= display_created_at(feedback) %></span>
        <% if policy([@project, feedback]).show? %>
          <%= link_to "Show", project_feedback_path(@project, feedback), class: "btn-inline-edit" %>
        <% end %>
        <% if policy([@project, feedback]).destroy? %>
          <%= link_to "Delete", project_feedback_path(@project, feedback), method: :delete, class: "pl-2 btn-inline-delete", data: { confirm: "Are you sure?" } %>
        <% end %>
      </div>
    </div>
  </div>
</li>
