<%= tailwind_form_with(model: @survey, id: dom_id(@survey), url: survey_path(@survey)) do |form| %>
  <main class="max-w-lg px-4 pt-10 pb-12 mx-auto space-y-6 lg:pb-16">
    <%= render "shared/form_messages", resource: @survey, message: local_assigns[:message] %>
    <%= render "shared/form_header", title: "Edit Survey", subtitle: "A Survey list of questions. A survey can be a checklist or score. KPIs are also score survey." %>
    <input type="hidden" name="remember" value="true">
    <div class=" -space-y-px">
      <%= form.text_field :name, "Name", required: true, autocomplete: "off" %>
      <div class="sm:col-span-4 pt-6">
        <%= form.text_area :description, "Survey Description", required: true, class: "form-text-field h-24" %>
      </div>
      <div class="flex justify-end pt-5">
        <%= link_to "Back", "javascript:history.back()", class: "btn-normal" %>
        <%= form.submit "Edit Survey", class: "btn-blue" %>
      </div>
    </div>
  </main>
<% end %>
