<tr id="<%= dom_id todo %>">
  <% todo = todo.decorate %>
  <td class="table-cell">
    <%= check_box_tag "completed", nil, todo.completed, data: { reflex: "click->TodoReflex#toggle_employee_todo", id: todo.id }, class: "w-4 h-4 text-indigo-600 border-gray-300 rounded focus:ring-indigo-500" %>
  </td>
  <td class="w-full table-cell">
    <p><%= highlight_hashtag(auto_link_urls_in_text(todo.title)) %></p>
  </td>
  <td class="table-cell">
    <% if current_user.admin? && !todo.project.nil? %>
      <a href="<%= project_todos_path(todo.project) %>" class="block hover:underline">
        <%= todo.project.name %>
      </a>
    <% end %>
  </td>
  <td class="table-cell whitespace-nowrap">
    <%= display_date(todo.deadline) %>
  </td>
  <td class="table-cell">
    <% if policy([todo.owner, todo]).destroy? %>
      <%= link_to "Delete", employee_todo_path(todo.user, todo), method: :delete, class: "btn-inline-delete pl-2", data: { confirm: "Are you sure?" } %>
    <% end %>
  </td>
</tr>
