<turbo-frame id="goals">
  <ul>
    <% @goals.each do |goal| %>
      <% cache goal do %>
        <li class="relative px-4 py-4 bg-white border-b border-gray-200">
          <div class="flex justify-between space-x-3">
            <div class="flex-1 min-w-0">
              <a href="<%= goal.goalable_type == "User" ? employee_goal_path(goal.goalable, goal) : project_milestone_path(goal.goalable, goal) %>" class="block hover:underline focus:outline-none">
                <span class="absolute inset-0" aria-hidden="true"></span>
                <p class="text-sm font-medium text-gray-900 truncate"><%= goal.decorate.display_owner %>, <%= display_date(goal.deadline) %></p>
              </a>
            </div>
            <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-<%= goal.decorate.color %>-100 text-<%= goal.decorate.color %>-800">
              <%= goal.status.to_s %>
            </span>
          </div>
          <div class="mt-1">
            <p class="text-sm text-gray-600 line-clamp-2">
              <%= highlight_hashtag(goal.title) %>
            </p>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
  <% if @goals.size > 0 %>
    <p class="pr-4 mt-2 text-sm text-right text-gray-500">Showing <%= 40.to_s %> records only.</p>
  <% else %>
    <p class="pr-4 mt-2 text-sm text-right text-gray-500">No record found.</p>
  <% end %>
</turbo-frame>
