<li>
  <div class="flex w-full space-x-3">
    <div class="flex-shrink-0">
      <%= image_tag "male-placeholder-image.png", class: "w-12 h-12 rounded-full" %>
    </div>
    <div class="w-full">
      <div class="w-full text-sm">
        <a href="#" class="font-medium text-gray-900"><%= comment.user.decorate.display_name %> </a>
        <span class="inline-flex items-center px-2.5 py-0.5 rounded-md text-xs font-medium <%= comment_status_color(comment) %>">
          <%= comment.status.to_s %>
        </span>
      </div>
      <div class="mt-1 text-sm text-gray-700">
        <p class="whitespace-pre-wrap"><%= auto_link_urls_in_text(comment.title) %></p>
      </div>
      <div class="mt-2 space-x-2 text-sm">
        <span class="font-medium text-gray-500"><%= display_created_at(comment) %></span>
      </div>
    </div>
  </div>
</li>
