<% employee = employee.decorate %>
<tr id="<%= dom_id(employee) %>">
  <td class="table-cell whitespace-nowrap">
    <div class="flex items-center">
      <div class="flex-shrink-0 w-10 h-10">
        <%= image_tag "male-placeholder-image.png", class: "w-10 h-10 rounded-full" %>
      </div>
      <div class="ml-4">
        <a href="<%= employee_schedules_path(employee) %>" class="truncate hover:text-gray-600 hover:underline">
          <div class="text-sm font-medium text-gray-900">
            <%= employee.display_name %>
            <% unless employee.status.nil? %>
              <span class="inline-flex px-2 text-xs font-semibold leading-5 text-<%= employee.status.color %>-800 bg-<%= employee.status.color %>-100 rounded-full">
                <%= employee.status.name.titleize %>
              </span>
            <% end %>
          </div>
          <div class="text-sm text-gray-500">
            <%= employee.display_position %>
          </div>
        </a>
      </div>
    </div>
  </td>
  <td class="table-cell whitespace-nowrap">
    <div class="text-sm text-gray-900">
      <%= employee.display_participated_projects %>
    </div>
    <% if employee.overall_occupancy < 60 %>
      <div class="hidden md:block">
        <div>
          <p class="flex items-center mt-2 text-sm text-gray-500">
            <!-- Heroicon name: solid/check-circle -->
            <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-green-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
            </svg>
            Available at the moment
          </p>
        </div>
      </div>
    <% else %>
      <div class="hidden md:block">
        <div>
          <p class="flex items-center mt-2 text-sm text-gray-500">
            <!-- Heroicon name: solid/check-circle -->
            <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-red-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
            </svg>
            <%= employee.display_occupied_till %>
          </p>
        </div>
      </div>
    <% end %>
  </td>
  <td class="table-cell whitespace-nowrap">
    <span class="inline-flex px-2 text-xl font-semibold leading-5  <%= employee.overall_occupancy > 100 ? "text-red-500" : (employee.overall_occupancy < 60 ? "text-green-500" : "text-gray-900") %>">
      <%= employee.display_occupancy %>
    </span>
  </td>
</tr>
