<%= turbo_frame_tag dom_id(project_status) do %>
  <li class="flex py-4 border-b border-gray-200">
    <div class="flex items-center w-full ml-3">
      <div class="flex-shrink-0 w-2.5 h-2.5 rounded-full bg-<%= project_status.color %>-400" aria-hidden="true"></div>
      <p class="w-full ml-2 text-sm font-medium text-gray-900"><%= project_status.name.titleize %></p>
      <div class="flex">
        <%= link_to "Edit", edit_account_project_status_path(project_status), class: "btn-inline-edit" %>
        <%= link_to "Delete", account_project_status_path(project_status), method: :delete, class: "btn-inline-delete pl-2" %>
      </div>
    </div>
  </li>
<% end %>
