<tr id="<%= dom_id todo %>">
  <% todo = todo.decorate %>
  <td class="table-cell whitespace-nowrap">
    <%= check_box_tag "completed", nil, todo.completed, data: { reflex: "click->TodoReflex#toggle_project_todo", id: todo.id }, class: "w-4 h-4 text-indigo-600 border-gray-300 rounded focus:ring-indigo-500" %>
  </td>
  <td class="table-cell ">
    <a href="<%= employee_todos_path(todo.owner) %>" class="block hover:underline" target="_top">
      <div>
        <p class="font-medium text-gray-900 whitespace-nowrap">
          <span class=""><%= todo.owner.decorate.display_name %></span>
        </p>
      </div>
    </a>
  </td>
  <td class="w-full table-cell">
    <%= highlight_hashtag(auto_link_urls_in_text(todo.title)) %>
  </td>
  <td class="table-cell whitespace-nowrap">
    <%= display_created_at(todo) %>
  </td>
  <td class="table-cell whitespace-nowrap">
    <%= link_to "Delete", project_todo_path(todo.project, todo), method: :delete, class: "btn-inline-delete pl-2", data: { confirm: "Are you sure?" } %>
  </td>
</tr>
