<tr id="<%= dom_id(attempt) %>">
  <td class="table-cell w-full">
    <% if attempt.submitted? %>
      <a class="hover:underline" href="<%= survey_report_preview_path(attempt.survey, attempt) %>">
        <%= attempt.survey.name.upcase_first %>
      </a>
    <% else %>
      <% if attempt.participant == current_user %>
        <a class="hover:underline" href="<%= survey_attempt_path(attempt.survey, attempt) %>">
          <%= attempt.survey.name %>
        </a>
      <% else %>
        <a class="hover:underline" href="<%= survey_report_preview_path(attempt.survey, attempt) %>">
          <%= attempt.survey.name %>
        </a>
      <% end %>
    <% end %>
  </td>
  <td class="table-cell whitespace-nowrap ">
    <%= attempt.actor.decorate.display_name %>
  </td>
  <td class="table-cell whitespace-nowrap ">
    <%= display_created_at(attempt) %>
  </td>
  <td class="table-cell whitespace-nowrap ">
    <%= attempt.decorate.display_score %>
  </td>
  <td class="px-4 py-4 whitespace-nowrap text-sm text-gray-500 max-w-full flex">
    <% if attempt.submitted? %>
      <!-- Heroicon name: solid/check-circle -->
      <svg class="ml-1 flex-shrink-0 mr-1.5 h-5 w-5 text-green-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
      </svg>
      Submitted
    <% else %>
      <svg class="ml-1 flex-shrink-0 mr-1.5 h-5 w-5 text-yellow-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z" clip-rule="evenodd" />
      </svg>
      In Progress
    <% end %>
  </td>
  <td class="table-cell">
    <% if current_user.admin? %>
      <%= link_to "Delete", survey_attempt_path(attempt.survey, attempt), method: :delete, class: "btn-inline-delete", data: { confirm: "Are you sure?" } %>
    <% elsif attempt.submitted? == false and current_user == attempt.actor %>
      <%= link_to "Delete", survey_attempt_path(attempt.survey, attempt), method: :delete, class: "btn-inline-delete", data: { confirm: "Are you sure?" } %>
    <% end %>
  </td>
</tr>
