<li id="<%= dom_id goal %>">
  <div class="flex space-x-3">
    <div class="flex-shrink-0">
      <%= image_tag "male-placeholder-image.png", class: "w-10 h-10 rounded-full" %>
    </div>
    <div>
      <div class="text-sm">
        <a href="#" class="font-medium text-gray-900"><%= goal.user.decorate.display_name %></a>
        <span class="inline-flex items-center px-2.5 py-0.5 rounded-md text-xs font-medium <%= goal_status_color(goal) %>">
          <%= goal.status.to_s %>
        </span>
      </div>
      <div class="mt-1 text-sm text-gray-700">
        <p><%= highlight_hashtag(goal.title) %></p>
      </div>
      <div class="mt-2 space-x-2 text-sm">
        <span class="font-medium text-gray-500"><%= display_created_at(goal) %></span>
        <%= link_to "Show", employee_goal_path(@employee, goal), class: "btn-inline-edit pl-2" %>
        <% if policy([@employee, goal]).edit? %>
          <%= link_to "Edit", edit_employee_goal_path(@employee, goal), class: "btn-inline-delete pl-2" %>
          <%= link_to "Delete", employee_goal_path(@employee, goal), method: :delete, class: "btn-inline-delete pl-2", data: { confirm: "Are you sure?" } %>
        <% end %>
      </div>
    </div>
  </div>
</li>
