<div id="project-tabs">
  <div class="sm:hidden">
    <label for="tabs" class="sr-only">Select a tab</label>
    <select id="tabs" name="tabs" class="block w-full py-2 pl-3 pr-10 text-base border-gray-300 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
      <option>Team</option>
      <option>Notes</option>
      <option>Feedback</option>
      <option>Schedule</option>
    </select>
  </div>
  <div class="hidden sm:block">
    <div class="border-b border-gray-200">
      <nav class="flex -mb-px space-x-8 lg:px-6" aria-label="Tabs">
        <% if current_user.admin? %>
          <a href="<%= project_timeline_path %>" class="<%= current_page?(project_timeline_path) ? "selected-tab" : "unselected-tab" %>">
            Timeline
          </a>
        <% end %>
        <a href="<%= project_schedules_path %>" class="<%= current_page?(project_schedules_path) ? "selected-tab" : "unselected-tab" %>">
          Schedules
        </a>
        <a href="<%= project_notes_path %>" class="<%= current_page?(project_notes_path) ? "selected-tab" : "unselected-tab" %>">
          Notes
        </a>
        <a href="<%= project_feedbacks_path %>" class="<%= current_page?(project_feedbacks_path) ? "selected-tab" : "unselected-tab" %>">
          Feedbacks
        </a>
        <a href="<%= project_milestones_path %>" class="<%= current_page?(project_milestones_path) ? "selected-tab" : "unselected-tab" %>">
          Milestones
        </a>
        <a href="<%= project_todos_path %>" class="<%= current_page?(project_todos_path) ? "selected-tab" : "unselected-tab" %>">
          Todos
        </a>
        <a href="<%= project_timesheets_path %>" class="<%= current_page?(project_timesheets_path) ? "selected-tab" : "unselected-tab" %>">
          Timesheets
        </a>
        <a href="<%= project_skills_path %>" class="<%= current_page?(project_skills_path) ? "selected-tab" : "unselected-tab" %>">
          TechStack
        </a>
        <a href="<%= project_documents_path %>" class="<%= current_page?(project_documents_path) ? "selected-tab" : "unselected-tab" %>">
          Documents
        </a>
        <a href="<%= project_surveys_path %>" class="<%= current_page?(project_surveys_path) ? "selected-tab" : "unselected-tab" %>">
          Surveys
        </a>
        <a href="<%= project_kpis_path %>" class="<%= current_page?(project_kpis_path) ? "selected-tab" : "unselected-tab" %>">
          CSAT
        </a>
      </nav>
    </div>
  </div>
