<main class="relative z-0 flex-1 overflow-y-auto focus:outline-none">
  <%= render "employee/title", employee: @employee %>
  <main class="pb-8">
    <div class="">
      <!-- Main 3 column grid -->
      <div class="grid items-start grid-cols-1 lg:grid-cols-3">
        <!-- Left column -->
        <div class="grid grid-cols-1 gap-4 lg:col-span-2">
          <section aria-labelledby="participants_section">
            <div class="overflow-hidden bg-white" data-controller="infinite-scroll">
              <div>
                <table class="table">
                  <thead class="bg-gray-50">
                    <tr>
                      <th scope="col" class="table-head">
                        Project
                      </th>
                      <th scope="col" class="table-head">
                        Task
                      </th>
                      <th scope="col" class="table-head">
                        Date
                      </th>
                      <th scope="col" class="table-head">
                        Hours
                      </th>
                      <th scope="col" class="table-head">
                        Action
                      </th>
                    </tr>
                  </thead>
                  <tbody class="table-body" id="timesheets" data-infinite-scroll-target="entries">
                    <%= render partial: "employee/timesheets/timesheet", collection: @timesheets, cached: true %>
                  </tbody>
                </table>
                <p class="pr-4 mt-2 text-sm text-right text-gray-500">Showing last 30 days' timesheets only.</p>
                <div class="flex justify-end mt-2 mb-6 mr-2 invisible" data-infinite-scroll-target="pagination">
                  <%== render partial: "shared/paginator", locals: { pagy: @pagy } %>
                </div>
              </div>
            </div>
          </section>
        </div>
        <% if policy([@employee, Timesheet]).show_add_timesheet_form? %>
          <!-- Right column -->
          <div class="grid grid-cols-1 gap-4 xl:border-l xl:border-gray-200">
            <section aria-labelledby="add-participant-section">
              <div class="overflow-hidden bg-white">
                <div class="px-4">
                  <%= render partial: "employee/timesheets/form", locals: { timesheet: @timesheet, projects: @projects } %>
                </div>
              </div>
            </section>
          </div>
        <% end %>
        <% if policy([@employee, Timesheet]).show_timesheet_stats? %>
          <!-- Right column -->
          <div class="grid grid-cols-1 gap-4 xl:border-l xl:border-gray-200">
            <section aria-labelledby="add-participant-section">
              <div class="overflow-hidden bg-white">
                <div class="px-4">
                  <% if policy([@employee, Timesheet]).show_timesheet_stats_menu? %>
                    <div class="flex justify-center mt-4" data-employee-id="<%= @employee.id %>">
                      <span class="relative z-0 inline-flex rounded-md shadow-sm">
                        <button type="button" data-reflex="click->EmployeeTimesheetsStats#last_week" data-reflex-dataset="combined" class="relative inline-flex items-center px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-l-md hover:bg-gray-50 focus:z-10 focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500">
                          Last Week
                        </button>
                        <button type="button" data-reflex="click->EmployeeTimesheetsStats#last_month" data-reflex-dataset="combined" class="relative inline-flex items-center px-4 py-2 -ml-px text-sm font-medium text-gray-700 bg-white border border-gray-300 hover:bg-gray-50 focus:z-10 focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500">
                          Last Month
                        </button>
                        <button type="button" data-reflex="click->EmployeeTimesheetsStats#since_beginning" data-reflex-dataset="combined" class="relative inline-flex items-center px-4 py-2 -ml-px text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-r-md hover:bg-gray-50 focus:z-10 focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500">
                          Since Start
                        </button>
                      </span>
                    </div>
                  <% end %>
                  <div id="stats">
                    <%= render partial: "employee/timesheets/stats", locals: { employee_stats: @employee_timesheets_stats }, cached: true %>
                  </div>
                </div>
              </div>
            </section>
          </div>
        <% end %>
      </div>
    </div>
  </main>
  <div class="pt-4 pl-16 pr-16">
  </div>
</main>
